<div id="editProfileTemplate">
	<header class="tabHeader">
		<div class="timelineHeaderContainer">
			<div class="timlinespacer top"></div>
			<div class="timlineheader"> Edit Basic Info </div>
			<div class="timlinespacer down"></div>
		</div>
	</header>
	<div id="edittable">
		<div class="form-row">
			<div  class="level correct"><br /></div>
			<div class="input-field spacer"><br /></div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.username}" > Name: </div>
			<div class="input-field" >{{user.username}}</div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.sex}" > Sex: </div>
			<div class="input-field" >{{user.sex}}</div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.dob}" > Date of Birth: </div>
			<div class="input-field" >{{user.dob}}</div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.role.designer || user.role.developer}"> Roles: </div>
			<div class="input-field" >
				<span ng-show="user.role.designer"> Designer </span>
				<span ng-show="user.role.designer && user.role.developer" > , </span>
				<span ng-show="user.role.developer" > Developer </span>
			</div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.email}" > email:  </div>
			<div class="input-field" >{{user.email}}</div>
		</div>
		<div class="form-row">
			<div class="level" ng-class="{'correct': user.salary}" > Current salary: </div>
			<div class="input-field" >{{user.salary}}</div>
		</div>
		<div class="form-row">
			<div  class="level"><br /></div>
			<div class="input-field"><br /></div>
		</div>
		<div class="form-row div-spacer">
			<button class="submitbtn" name="submit" type="submit" ng-disabled="registerForm.$invalid">Submit</button>
		</div>
	</div>
</div>