<section class="expenses content">
	<header>
		Your Expenses for this Month
	</header>
	<table class="expense-list" ng-show="expCntrl.expenseList.length > 0">
		<tr>
			<th>Date</th>
			<th>Amount (<i class="icon-inr"></i>)</th>
			<th>Type</th>
			<th>Comment</th>
		</tr>
		<tr class="expense-item" ng-repeat="expense in expCntrl.expenseList">
			<td>{{expense.date | date: 'dd-MMM-yyyy'}}</td>
			<td class="amount">{{expense.amount}}</td>
			<td>{{expense.type}}</td>
			<td>{{expense.comment}}</td>
		</tr>
	</table>
	<div class="empty-message" ng-show="expCntrl.expenseList.length === 0"> No expenses for this month done yet.</div>
</section>