<div class="form-wrapper">
	<div id="login-form" ng-class="[loginState.state, loginState.preload]">
	<header class="content-header">
		<i class="back-button ion-android-arrow-back pull-left" ui-sref="home"></i>
		<span>Please Log In</span>
	</header>
	<section>
		<form name="loginForm" ng-submit="loginCntrl.submitLoginForm(loginForm.$valid, loginCntrl.credentails)" novalidate >
				<div class="form-row">
					<div class="label-container"></div>
					<div class="input-container"></div>
				</div>
				<div class="form-row">
					<div class="label-container">
						<label for="email"> Email ID *</label>
					</div>
					<div class="input-container" ng-class="{'error' : emailError = loginForm.email.$invalid && (loginForm.email.$touched || loginCntrl.notifyErrors), 'correct' : loginForm.email.$valid }">
						<input id="email" name="email" type="email" placeholder="Enter your email id" ng-model="loginCntrl.credentails.email" required />
						<div class="message-default" ng-cloak ng-cloack ng-show="emailError"> Invalid email id</div>
					</div>
				</div>
				<div class="form-row">
					<div class="label-container">
						<label for="password"> Passwords *</label>
					</div>
					<div class="input-container" ng-class="{'error' : passwordError = loginForm.password.$invalid && (loginForm.password.$touched|| loginCntrl.notifyErrors) , 'correct' : loginForm.password.$valid }">
						<input id="password" name="password" type="password" placeholder="Enter your password" ng-model="loginCntrl.credentails.password" required />
						<div class="message-default" ng-cloak ng-cloack ng-show="passwordError"> Please enter your Password</div>
					</div>
				</div>
				<div class="form-row">
					<div class="label-container"></div>
					<div class="input-container"></div>
				</div>
				<div class="center-text">
					<button class="submit-btn" name="submit" type="submit">Log In</button>
				</div>
		</form>
	</section>
	<footer class="login-footer">
		<div> Not yet started? </div>
		<button ui-sref="register"> Join Us </button>
	</footer>
	</div>
</div>