<section class="mess-management content">
	<header> Set and Update Rentals </header>
	<div class="main-content">
		<form name="rentalForm" class="rental-form" ng-submit="managementCntrl.saveRentals(managementCntrl.group, managementCntrl.rentals)" novalidate >
			<div class="header-container">
				<div class="sub-container">
					Rental Name
				</div>
				<div class="sub-container">
					Rental Amount (<i class="icon-inr"></i>)
				</div>				
			</div>
			<div class="input-container" ng-repeat="rental in managementCntrl.rentals">
				<div class="sub-container" ng-class="{'error' : nameError = rentalForm.name.$invalid && (rentalForm.name.$touched) , 'correct' : rentalForm.name.$valid }">
					<input name="name" type="text" placeholder="Enter Rental Name" ng-model="rental.name" />
					<div class="message-default" ng-cloak ng-cloack ng-show="nameError"> Please enter Rental Name</div>
				</div>
				<div class="sub-container" ng-class="{'error' : dateError = rentalForm.amount.$invalid && (expenseForm.date.$touched) , 'correct' : rentalForm.amount.$valid }">
					<input name="amount" type="number" placeholder="Enter Rental Amount" ng-model="rental.amount" />
					<div class="message-default" ng-cloak ng-cloack ng-show="dateError"> Please enter Rental Amount</div>
				</div>				
			</div>
			<div class="add-exp">
				<button type="button" ng-click="managementCntrl.addRental()"> Add New Rental </button>
				<button type="submit"> Save Rentals </button>
			</div>
		</form>
</section>