<div id="profile" >
	<header class="profile-header">
		<div class="profile-menu" ng-class="{'show' : showMenu}">
			<div class="menu-icon-container" ng-click="showMenu = !showMenu">
				<div class="menu-icon" ng-class="{'close' : showMenu}"></i>
			</div>
			<button ng-click="logOut()">Logout</button>
		</div>
	</header>
	<aside class="profile-options">
		<img class="profile-pic-container" src="../images/profilepic.jpg"/>
		<div class="base-info">
			<h1 class="user-name"> {{user.username}} </h1>
			<div>
				<span class="role" ng-show="user.role.designer"> Designer </span>
				<span class="role" ng-show="user.role.designer && user.role.developer" >&amp;</span>
				<span class="role" ng-show="user.role.developer" > Developer </span>
			</div>
			<button class="logout-btn" ng-click="logOut()">Logout</button>
		</div>
	</aside>
	<section class="profile-body">
		<nav class="profile-nav">
			<ul>
				<li ng-class="activeView" ui-sref="profile.timeline" ng-click="showProfile()">
					<i class="ion-ios-paper"></i>
					<span> My Feed </span>
				</li>
				<li ng-class="activePhotos" ui-sref="profile.photos" ng-click="showPhotos()">
					<i class="ion-image"></i>
					<span> Photos </span>
				</li>
				<li ng-class="activeEdit" ui-sref="profile.edit" ng-click="showEditProfile()">
					<i class="ion-ios-compose"></i>
					<span> Edit Profile </span>
				</li>
			</ul>
		</nav>
		<section class="profile-content" ui-view ></section>
	</section>
</div>