<div class="profile-photos">
	<header class="tabHeader">
		<div id="photopicker">
			<!-- <div class="photoname">
				<span id="file_input_container">
				</span>
				<input type="file" id="fileinput" file-model="photoFiles" multiple accept="image/*" />
				<span class="fileInfo">
					<span ng-switch on="fileCount">
						<span ng-switch-when="0"> No File Choosen </span>
						<span ng-switch-default>
							<span id="fileCount">{{fileCount}} 
								<span ng-switch on="fileCount">
									<span ng-switch-when="1"> file </span>
									<span ng-switch-default> files </span>
								</span>,
							</span>
							<span id="totalFileCount">{{totalFileSize}}</span>
						</span>
				</span>
			</div>
			<div class="upload" ng-click="uploadPhotos()"> Upload </div> -->
		</div>
	</header>
	<!-- <div class="uploadProgress"></div> -->
	<div id="phototab-content">
		<!-- <div class="photo-container" ng-repeat="photo in newPhotosList">
			<div class="displayPhoto">
				<div class="photoWrapper">
					<span class="helper"></span>
					<img ng-src="{{photo.preview}}" />
				</div>
				<div class="photoControls"></div>
			</div>
		</div> -->
		<div class="photo-container clearfix">
			<div class="display-photo col-xs-12 col-sm-4 col-md-4 col-lg-3" ng-repeat="photo in profilePhotos">
				<img ng-src="{{photo.src}}" />
				<div class="photoControls">
					<div class="deletePhoto" ng-click="removePhoto(photo.filename)">Remove</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</div>
</div>