<div id="register-form" ng-class="[registerState.state, registerState.preload]" >
<header class="content-header">
	<!-- {{loginstate.state}} , {{loginstate.preload}} -->
	<i class="back-button ion-android-arrow-back" onclick="history.back()"></i>
	<span>Please Fill Up the form</span>
</header>
<form name="registerForm" ng-submit="registerCntrl.submitRegisterForm(registerForm.$valid, registerCntrl.userData)" novalidate>
	<div>
		<div class="form-row">
			<div  class="label-container"><br /></div>
			<div class="input-container"><br /></div>
		</div>
		<div class="form-row">
			<div class="label-container">
				<label for="username">* Name: </label>
			</div>
			<div class="input-container" ng-class="{'error' : usernameError = registerForm.username.$invalid && (registerForm.username.$touched || registerCntrl.notifyErrors), 'correct' : registerForm.username.$valid } ">
				<input id="username" name="username" type="text" placeholder="Enter your name" ng-model="registerCntrl.userData.username" required />
				<div class="message-default" ng-cloak ng-cloack ng-show = "usernameError"> This field can't be empty</div>
			</div>
		</div>
		<div class="form-row">
			<div rowspan="2" class="label-container">
				<label>Sex:</label>
			</div>
			<div class="input-container" ng-class="{'correct' : registerForm.sex.$valid }">
				<div class="side-options">
					<input name="sex" type="radio" ng-model="registerCntrl.userData.sex" value="Male" ng-checked="true" />
					<label> Male</label>
				</div>
				<div class="side-options">
					<input name="sex" type="radio" ng-model="registerCntrl.userData.sex" value="Female" />
					<label> Female</label>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="label-container">
				<label for="dob">*Date of Birth: </label>
			</div>
			<div class="input-container" ng-class="{'error' : dobError = registerForm.dob.$invalid && (registerForm.dob.$touched || registerCntrl.notifyErrors), 'correct' : registerForm.dob.$valid }">
				<input id="dob" name="dob" type="date" placeholder="yyyy-mm-dd" ng-model="registerCntrl.userData.dob" required />
				<div class="message-default" ng-cloak ng-show="dobError"> Please provide valid date</div>
			</div>
		</div>
		<div class="form-row">
			<div class="label-container">
				<label for="addr">*Address: </label></div>
				<div class="input-container" ng-class="{'error' : addrError = registerForm.addr.$invalid && (registerForm.addr.$touched || registerCntrl.notifyErrors), 'correct' : registerForm.addr.$valid }">
					<textarea id="addr" name="addr" ng-model="registerCntrl.userData.addr" required ></textarea>
					<div class="message-default" ng-cloak ng-show="addrError"> Please provide your address</div>
				</div>
			</div>
			<div class="form-row">
				<div rowspan="2" class="label-container">
					<label>*Role: </label>
				</div>
				<div class="input-container" ng-class="{'error' : roleError = !registerCntrl.userData.role.designer && !registerCntrl.userData.role.developer && (registerForm.email.$touched || registerCntrl.notifyErrors), 'correct' : registerCntrl.userData.role.designer || registerCntrl.userData.role.developer }">
					<div class="side-options">
						<input name="role" type="checkbox" ng-model="registerCntrl.userData.role.designer" value="Designer" />
						<label> Designer</label>
					</div>
					<div class="side-options">
						<input name="role" type="checkbox" ng-model="registerCntrl.userData.role.developer" value="Developer" />
						<label> Developer</label>
					</div>
					<div class="message-default" ng-cloak ng-show="roleError"> Please select your role</div>
				</div>
			</div>
			<div class="form-row">
				<div class="label-container" ng-class="{'correct' : registerForm.email.$valid }">
					<label for="exp" >Experience: </label>
				</div>
				<div class="input-container">
					<div>
						<input id="exp" name="exp" type="range" ng-model="registerCntrl.userData.exp" min="0" max="50" step="1" />
						<div class="side-options"><b>{{registerCntrl.userData.exp}}</b> years</div>
					</div>
				</div>
			</div>
			<div class="form-row">
				<div  class="label-container">
					<label for="email" >e-mail: </label></div>
					<div class="input-container" ng-class="{'error' : emailError = registerForm.email.$invalid && (registerForm.email.$touched || registerCntrl.notifyErrors), 'correct' : registerForm.email.$valid }">
						<input id="email" name="email" ng-model="registerCntrl.userData.email" placeholder="Please enter email id" required type="email" />
						<div class="message-default" ng-cloak ng-show="emailError"> Please provide valid email</div>
					</div>
				</div>
				<div class="form-row">
					<div  class="label-container">
						<label for="password" >Password: </label>
					</div>
					<div class="input-container" ng-class="{'error' : passwordError = registerForm.password.$invalid && (registerForm.password.$touched || registerCntrl.notifyErrors), 'correct' : registerForm.password.$valid && registerForm.password.$touched}">
						<input id="password" name="password" type="password" placeholder="Please enter password" ng-model="registerCntrl.userData.password" required />
						<div class="message-default" ng-cloak ng-show="passwordError"> Please provide password</div>
					</div>
				</div>
				<div class="form-row">
					<div  class="label-container">
						<label for="conpassword" >Confirm Password: </label></div>
						<div class="input-container" ng-class="{'error' : confirmPasswordError = registerCntrl.userData.password != '' && registerCntrl.userData.password != registerCntrl.userData.confirmPassword && (registerForm.conpassword.$touched || registerCntrl.notifyErrors), 'correct' : registerCntrl.userData.password == registerCntrl.userData.confirmPassword && registerForm.conpassword.$touched}">
							<input id="conpassword" name="conpassword" type="password" placeholder="Please re-enter password" ng-model="registerCntrl.userData.confirmPassword" required />
							<div class="message-default" ng-cloak ng-show="confirmPasswordError"> Password doesn't match</div>
						</div>
					</div>
					<div class="form-row">
						<div  class="label-container"></div>
						<div class="input-container"></div>
					</div>
					<div class="center-text">
						<button class="submit-btn" name="submit" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>