<section class="content">
	<div class="stats-container">
		<header class="form-row">
			Member Contributions
		</header>
		<div class="members-container" ng-repeat="member in statsCntrl.groupMembers">
			<div class="member" ng-click="statsCntrl.showContributionDetails(member.username)">
				<img ng-if="member.dpLink" class="member-dp" ng-src="{{member.dpLink}}"/>
				<div ng-if="!member.dpLink" class="member-dp no-dp">
					<span>{{member.firstname.charAt(0)}}</span>
				</div>
				<div class="member-details">
					<div class="expense"><i class="icon-inr"></i>{{member.expense}}</div>
					<div class="expense-bar" ng-style="{width: (member.expense / statsCntrl.topExpense) * 100 + '%'}"></div>
					<div class="name">{{member.firstname}} {{member.lastname}}</div>
				</div>
			</div>
		</div>
	</div>
</section>