<header class="form-row">
	Member Contributions & Payable Bill
</header>
<section class="content">
	<div class="stats-container">
		<div class="main-content">
			<div class="total-contributions">Total Contributions: <strong><i class="icon-inr"></i>{{statsCntrl.totalContributions}}</strong></div>
			<div class="members-container" ng-repeat="member in statsCntrl.groupMembers">
				<div class="member" ng-click="statsCntrl.showContributionDetails(member.username)">
					<div class="dp-bill-wrapper">
						<img ng-if="member.dpLink" class="member-dp" ng-src="{{member.dpLink}}"/>
						<div ng-if="!member.dpLink" class="member-dp no-dp">
							<span>{{member.firstname.charAt(0)}}</span>
						</div>
						<div class="bill"><i class="icon-inr"></i>{{statsCntrl.totalContributions - member.expense}}</div>
					</div>
					<div class="member-details">
						<div class="expense"><i class="icon-inr"></i>{{member.expense}}</div>
						<div class="expense-bar" ng-style="{width: (member.expense / statsCntrl.topExpense) * 100 + '%'}"></div>
						<div class="name">{{member.firstname}} {{member.lastname}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>