<div class="timelinepage">
	<header class="tabHeader">
		<div class="timelineHeaderContainer">
			<div class="timlinespacer top"></div>
			<div class="timlineheader"> Timeline </div>
			<div class="timlinespacer down"></div>
		</div>
	</header>
	<div class="timelinecontainer">
		<div class="timlinespacer green"></div>
		<div id="timelinetemplates">
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
			<timeline-template infoalign="{'align':'left'}"></timeline-template>
			<timeline-template infoalign="{'align':'right'}"></timeline-template>
		</div>
	</div>
	<div id="suggestions">
		<header>Suggestions for You</header>
	</div>
</div>
