#profile {
	position: relative;
	min-height: 700px;
}

header.profile-header {
	position: fixed;
    width: 100%;
    height: 250px;
    background-color: #7448AD;
}

.month-year {
	position: absolute;
    right: 0;
    margin: 0.5em;
    font-size: 2em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.37);
}
.menu-icon-container {
	position: fixed;
	display: none;
	width: 25px;
    height: 25px;
    margin: 25px 10px;
    z-index: 6;
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.menu-icon, .menu-icon:before, .menu-icon:after {
	position: absolute;
	background-color: #FFFFFF;
	width: 25px;
	height: 2px;
	content: '';
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.menu-icon:before {
	top: -7px;
}
.menu-icon:after {
	bottom: -7px;
}

.menu-icon.close:after {
	top: 0;
	background-color: #0AB2F8;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.menu-icon.close {
	background-color: transparent;
}

.menu-icon.close:before {
	top: 0;
	background-color: #0AB2F8;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.profile-pic-container {
	position: relative;
    height: 10em;
    width: 10em;
    margin: auto;
    margin-top: 4em;
    z-index: 2;
    line-height: 10em;
}

.profile-form {
	width: 70%;
}
.delete-profile {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.8em;
}
.fixed .delete-profile {
	top: 60px;
	position: fixed;
}
.dp {
	height: 100%;
	width: 100%;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}
.no-dp {
	background-color: #0A9085;
	text-align: center;
    line-height: 10em;
}
.no-dp span {
	font-size: 6em;
	color: #FFFFFF;
	text-transform: uppercase;
}
.change-dp {
    position: absolute;
    top: 0;
    font-size: 2em;
    color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.change-dp i {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.change-dp input {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.change-dp:hover {
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.21);
}
.member-dp.no-dp {
	line-height: 5em;
}
.member-dp.no-dp span {
	font-size: 3em;
}

aside.profile-options {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.profile-main-content {
	position: relative;
	min-height: 500px;
	border-left: thin solid #ccc;
	box-sizing: border-box;
}

.profile-body {
	position: relative;
	min-height: 500px;
	top: 250px;
	font-size: 15px;
	color: #565555;
	background-color: #FFFFFF;
	border-left: thin solid #ccc;
}

.base-info {
	position: relative;
	margin: 0;
    text-align: center;
    color: #565555;
    z-index: 4;
    background-color: #FFFFFF;
}

.logout-btn {
	top: 2em;
}

h1.user-name {
	font-size: 2.2em;
	padding: 6px 0;
	height: 40px;
    margin: 0;
    border-bottom: thin solid #ccc;
}

.info-card {
	position: relative;
    width: 20em;
    min-height: 15em;
    background-color: #FFFFFF;
    border: thin solid #E7E6E6;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.profile-content {
	position: relative;
	width: 100%;
}

nav.profile-nav ul {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
	background-color: #FFFFFF;
}

nav.profile-nav li {
	position: relative;
	float: left;
	list-style: none;
	padding: 6px 0;
	height: 40px;
	line-height: 40px;
	width: 33%;
	text-align: center;
	cursor: pointer;
}

.underline {
	position: relative;
    height: 3px;
    width: 25%;
    margin: -1px auto 0;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

li:hover .underline, li.active .underline {
	background-color: #0ab2f8;
	width: 60%;
} 

nav.profile-nav i {
	font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

nav.profile-nav span {
	font-weight: normal;
}


ul.profile-options {
	margin: 0;
	padding: 0;
}

ul.profile-options li {
	list-style: none;
	padding: 15px;
	height: 20px;
	font-weight: normal;
	border-bottom: thin solid #fff;
	cursor: pointer;
}

ul.profile-options li:hover, ul.profile-options li.active {
	background-color: #E7E7E7;
}

/* Fixed Header Styles - Starts */
.fixed .profile-body{
	top: 0;
}

.fixed .base-info {
	position: fixed;
	top: 0;
	left: 0;
	height: 4em;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.fixed .profile-main-content {
	left: 16.66666667%;
}

.fixed .profile-content {
	margin-top: 320px;
}

.fixed .profile-pic-container {
	display: none;
}

.fixed .github-icon {
	color: #696868;
}

.fixed .menu-icon, .fixed .menu-icon:before, .fixed .menu-icon:after {
	background-color: #696868;
}
.fixed .menu-icon.close {
	background-color: transparent;
}
/* Fixed Header Styles - end */

.profile-main-content header {
	position: absolute;
	font-size: 1.3em;
    background: rgba(255, 255, 255, 0.9);
    padding: 6px 65px;
    height: 39px;
    line-height: 39px;
    z-index: 5;
    left: 0;
    right: 0;
    border-top: thin solid #ccc;
    border-bottom: thin solid #ccc;
    -webkit-transition: margin-top 0.3s ease-out;
	transition: margin-top 0.3s ease-out;
}

.fixed .profile-main-content header {
	position: fixed;
	top: 51px;
	margin-top: -51px;
	width: inherit;
    left: initial;
    right: initial;
}

.profile-main-content .main-content {
	position: relative;
    padding-top: 10px;
}

.profile-container .label-container {
	width: 37%;
}
.profile-container .input-container {
	width: 60%;
}
.update-btn {
	margin: 3em 0;
}
.content {
	position: relative;
	top: 60px;
	width: 80%;
    padding: 0 1em 0 3.5em;
    box-sizing: border-box;
    -webkit-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
}
.fixed .content {
	top: -70px;
}
/* Group Styles - start */
.members-container {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.member {
    margin: 2em;
    position: relative;
}
.member-dp {
    position: relative;
    display: inline-block;
    height: 5em;
    width: 5em;
    border: thin solid #ccc;
    border-radius: 50%;
    vertical-align: middle;
}
.member-details {
    position: relative;
    display: inline-block;
    padding: 1em;
    vertical-align: middle;
}
.member-details .name {
	font-size: 1.2em;
    font-weight: normal;
    padding: 0.2em 0;
}
/* Group Styles - end */

/* Mobile Menu Styles - start */
.profile-menu {
	position: fixed;
	top: 0;
    background-color: #FFFFFF;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-bottom: thin solid #ccc;
    z-index: 5;
    padding: 50px 5px 10px;
	text-align: center;
	box-sizing: border-box;
	display: none;
}

.profile-menu .logout {
	position: absolute;
	bottom: 2em;
}

.profile-menu.show {
	display: block;
	opacity: 0.85;
	-webkit-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
/* Mobile Menu Styles - end */

@media only screen and (max-width:1000px) {
	.content {
		width: 100%;
		padding: 0 2.5em;
	}
	.profile-form {
		width: 100%;
	}
	.fixed .delete-profile {
		top: 112px;
	}
	.fixed .profile-main-content header {
		top: 112px;
	}
	header.profile-header {
		position: absolute;
	}
	.menu-icon-container {
		display: block;
	}
	aside.profile-options {
		position: relative;
		display: inline-block;
	    background-color: transparent;
	    width: 100%;
	    margin-top: 3.5em;
	}
	.profile-pic-container {
		margin-top: 1em;
	}
	.profile-main-content {
		border-left: none;
	}
	.profile-body {
		top: 0;
		left: 0;
		width: 100%;
		border-left: none;
	}
	.logout-btn {
		display: none;
	}
	.base-info {
		margin-top: 0;
	}
	.profile-content {
		width: 100%;
	}
	.profile-options {
		display: none;
	}

	/* Fixed Header Styles - Starts */
	.fixed .profile-body{
		top: 0;
	}

	.fixed .base-info {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.fixed .profile-main-content {
		left: 0;
	}

	.fixed nav.profile-nav {
		top: 4em;
		left: 0;
		width: 100%;
		z-index: 5;
	}

	.fixed .profile-content {
		margin-top: 340px;
	}
	/* Fixed Header Styles - end */
}

@media only screen and (max-width:425px) {
	.profile-pic-container {
		margin-top: 3.5em;
	}
	.content {
		padding: 2em 1.5em;
	}
}