<div id="loginform" ng-class="[loginstate.state, loginstate.preload]">
<header class="contentheader">
Please Log In
</header>
<body>
<form name="loginForm" ng-submit="submitLoginForm(loginForm.$valid)" novalidate >
<div>
	<div class="formRow">
		<div class="level"></div>
		<div class="inputfield"></div>
	</div>
	<div class="formRow">
		<div class="level" ng-class="{'error' : loginForm.email.$invalid && loginForm.email.$touched , 'correct' : loginForm.email.$valid } ">
			<div class="message_default" ng-cloak ng-cloack ng-show="loginForm.email.$invalid && loginForm.email.$touched"> Invalid email id</div>
			<label for="email">* Email ID: </label>
		</div>
		<div class="inputfield">
			<input id="email" name="email" type="email" placeholder="Enter your email id" ng-model="loginDetail.email" required autofocus />
		</div>
	</div> 
	<div class="formRow">
		<div class="level" ng-class="{'error' : loginForm.password.$invalid && loginForm.password.$touched , 'correct' : loginForm.password.$valid } ">
			<div class="message_default" ng-cloak ng-cloack ng-show="loginForm.password.$invalid && loginForm.password.$touched"> Wrong Password</div>
			<label for="password">* Passwords: </label>
		</div>
		<div class="inputfield">
			<input id="password" name="password" type="password" placeholder="Enter your password" ng-model="loginDetail.password" required />
		</div>
	</div>
	<div class="formRow">
		<div class="level"></div>
		<div class="inputfield"></div>
	</div>
	<div class="divSpacer">
		<button class="submitbtn" name="submit" type="submit" ng-disabled="registerForm.$invalid">Log In</button>
	</div>
</table>
</form>
<div id="loginfooter">
	<div> Not yet started? </div>
	<button id="joinusbtn" ng-click="showRegisterForm()"> Register </button>
</div>
</body>
</div>