<div class="profilePhotos">
	<header>
		<div class="fileInfo">
			<span id="fileCount">{{fileCount}} 
				<span ng-switch on="fileCount">
					<span ng-switch-when="1"> file </span>
					<span ng-switch-default> files </span>
				</span>,
			</span>
			<span id="totalFileCount">{{totalFileSize}}</span>
		</div>
		<div id="photopicker">
			<div class="photoname"><input type="file" id="fileinput" file-model="photoFiles" multiple accept="image/*" /></div>
			<div class="upload" ng-click="uploadPhotos()"> Upload </div>
		</div>
	</header>
	<div class="uploadProgress"></div>
	<div id="phototab_content">
		<div class="photocontainer" ng-repeat="photo in photosList">
			<div class="displayPhoto">
				<span class="helper"></span>
				<img ng-src="{{photo.preview}}" />
				<div>
					Name: {{photo.file.name}}, Size: {{photo.file.size}}
				</div>
			</div>
		</div>
		<footer></footer>
	</div>
</div>