<div id="profilepage" ng-class="[profilePageState, profilePreloadClass]" >
	<!-- <header class="contentheader"> Hello, {{user.username}} </header> -->
	<div id="profilecontainer">
		<div id="profile_cover"></div>
		<div id="dptile">
			<div class="level correct" >
				<div id="profile_pic"></div>
			</div>
			<div id="profile_title">
				<h1> {{user.username}} </h1>
				<div class="user_title">
					<span>
						<div class="role" ng-show="user.role.designer"> Designer </div>
						<div class="role" ng-show="user.role.designer && user.role.developer" >&nbsp; &amp; &nbsp;</div>
						<div class="role" ng-show="user.role.developer" > Developer </div>
					</span>
				</div>
			</div>
		</div>
		<div id="profile_content">
			<div id="profile_info">
				<nav class="profilecontrols">
					<ul>
						<li ng-class="activeView" ui-sref="profile.timeline" ng-click="showProfile()"> Profile Home </li>
						<li ng-class="activePhotos" ui-sref="profile.photos" ng-click="showPhotos()"> Photos </li>
						<li ng-class="activeEdit" ui-sref="profile.edit" ng-click="showEditProfile()"> Edit Profile </li>
						<li ng-click="logOut()"> Logout </li>
					</ul>
					<div class="menu-icon">
						<img src="images/menu-icon.png" />
					</div>
				</nav>
				<nav class="profilecontrols for-phone-tab">
					<ul>
						<li ng-class="activeView" ui-sref="profile.timeline" ng-click="showProfile()"> Profile Home </li>
						<li ng-class="activePhotos" ui-sref="profile.photos" ng-click="showPhotos()"> Photos </li>
						<li ng-class="activeEdit" ui-sref="profile.edit" ng-click="showEditProfile()"> Edit Profile </li>
						<li ng-click="logOut()"> Logout </li>
					</ul>
					<div class="menu-icon">
						<img src="images/menu-icon.png" />
					</div>
				</nav>
				<section id="profile_tabs" ui-view >
				</section>
			</div>
		</div>
	</div>
</div>