<div class="profilePhotos">
	<header>
		<div class="fileInfo">
			<span id="fileCount">{{fileCount}} 
				<span ng-switch on="fileCount">
					<span ng-switch-when="1"> file </span>
					<span ng-switch-default> files </span>
				</span>,
			</span>
			<span id="totalFileCount">{{totalFileSize}}</span>
		</div>
		<div id="photopicker">
			<div class="photoname"><input type="file" id="fileinput" file-model="photoFiles" multiple accept="image/*" /></div>
			<div class="upload" ng-click="uploadPhotos()"> Upload </div>
		</div>
	</header>
	<div class="uploadProgress"></div>
	<div id="phototab_content">
		<div class="photocontainer" ng-repeat="photo in newPhotosList">
			<div class="displayPhoto">
				<div class="photoWrapper">
					<span class="helper"></span>
					<img ng-src="{{photo.preview}}" />
				</div>
				<div class="photoControls"></div>
			</div>
		</div>
		<div class="photocontainer" ng-repeat="photo in profilePhotos">
			<div class="displayPhoto">
				<div class="photoWrapper">
					<span class="helper"></span>
					<img ng-src="{{photo.src}}" />
				</div>
				<div class="photoControls">
					<div class="deletePhoto" ng-click="removePhoto(photo.filename)">Remove</div>
				</div>
			</div>
		</div>
		<footer></footer>
	</div>
</div>