<div id="registerform" ng-class="[registerstate.state,registerstate.preload]" >
<header class="contentheader">Please Fill Up the form</header>
			<form name="registerForm" ng-submit="submitRegisterForm(registerForm.$valid)" novalidate>
			<div>
				<div class="formRow">
					<div  class="level"><br /></div>
					<div class="inputfield"><br /></div>
				</div>
				<div class="formRow">
					<div class="level" ng-class="{'error' : registerForm.username.$invalid && registerForm.username.$touched , 'correct' : registerForm.username.$valid } ">
						<div class="message_default" ng-cloak ng-cloack ng-show = "registerForm.username.$invalid && registerForm.username.$touched"> This field can't be empty</div>
						<label for="username">* Name: </label>
					</div>
					<div class="inputfield">
						<input id="username" name="username" type="text" placeholder="Enter your name" ng-model="userData.username" required autofocus /> 
					</div>
				</div> 
				<div class="formRow">
					<div rowspan="2" class="level" ng-class="{'correct' : registerForm.username.$valid }">Sex: </div>
					<div class="inputfield">
						<div>
							<input name="sex" type="radio" ng-model="userData.sex" value="Male" checked />
							<label> Male</label>
						</div>
						<div>
							<input name="sex" type="radio" ng-model="userData.sex" value="Female" />
							<label> Female</label>
						</div>
					</div>
				</div>
				<div class="formRow">
					<div class="level" ng-class="{'error' : registerForm.dob.$invalid && registerForm.dob.$touched , 'correct' : registerForm.dob.$valid }">
						<div class="message_default" ng-cloak ng-show="registerForm.dob.$invalid && registerForm.dob.$touched"> Please provide valid date</div>
						<label for="dob">*Date of Birth: </label>
					</div>
					<div class="inputfield">
						<input id="dob" name="dob" type="date" placeholder="yyyy-mm-dd" ng-model="userData.dob" required />
					</div>
				</div>
				<div class="formRow">
					<div class="level" ng-class="{'error' : registerForm.addr.$invalid && registerForm.addr.$touched , 'correct' : registerForm.addr.$valid }">
						<div class="message_default" ng-cloak ng-show="registerForm.addr.$invalid && registerForm.addr.$touched"> Please provide your address</div>
						<label for="addr">*Address: </label></div>
					<div class="inputfield"><textarea id="addr" name="addr" ng-model="userData.addr" required ></textarea></div>
				</div>
				<div class="formRow">
					<div rowspan="2" class="level" ng-class="{'error' : !userData.checkboxModel.designer && !userData.checkboxModel.developer && registerForm.email.$touched , 'correct' : userData.checkboxModel.designer || userData.checkboxModel.developer }">
						<div class="message_default" ng-cloak ng-show="!userData.checkboxModel.designer && !userData.checkboxModel.developer && registerForm.role.$touched"> Please select your role</div>
						<label>*Role: </label>
					</div>
					<div class="inputfield">
						<div>
							<input name="role" type="checkbox" ng-model="userData.checkboxModel.designer" value="Designer" />
							<label> Designer</label>
						</div>
						<div>
							<input name="role" type="checkbox" ng-model="userData.checkboxModel.developer" value="Developer" />
							<label> Developer</label>
						</div>
					</div>
				</div>
				<div class="formRow">
					<div class="level" ng-class="{'correct' : registerForm.email.$valid }">
						<label for="salary" >Current Salary: </label>
					</div>
					<div class="inputfield">
						<div>
							<input id="salary" name="salary" type="range" ng-model="userData.salary" min="0" max="100" step="10" />
							<span><b>{{userData.salary}}</b> lacs</span>
						</div>
					</div>
				</div>
				<div class="formRow">
					<div  class="level" ng-class="{'error' : registerForm.email.$invalid && registerForm.email.$touched , 'correct' : registerForm.email.$valid }">
						<div class="message_default" ng-cloak ng-show="registerForm.email.$invalid && registerForm.email.$touched"> Please provide valid email</div>
						<label for="email" >e-mail: </label></div>
					<div class="inputfield"><input id="email" name="email" ng-model="userData.email" required type="email" /></div>
				</div>
				<div class="formRow">
					<div  class="level" ng-class="{'error' : registerForm.password.$invalid && registerForm.password.$touched, 'correct' : registerForm.password.$valid && registerForm.password.$touched}" >
						<div class="message_default" ng-cloak ng-show="registerForm.password.$invalid && registerForm.password.$touched"> Please provide password</div><label for="password" >Password: </label></div>
					<div class="inputfield"><input id="password" name="password" type="password" ng-model="userData.password" required /></div>
				</div>
				<div class="formRow">
					<div  class="level" ng-class="{'error' : userData.password != '' && userData.password != userData.conpassword && registerForm.conpassword.$touched, 'correct' : userData.password == userData.conpassword && registerForm.conpassword.$touched}" >
						<div class="message_default" ng-cloak ng-show="userData.password != '' && userData.password != userData.conpassword && registerForm.conpassword.$touched"> Password doesn't match</div>
						<label for="conpassword" >Confirm Password: </label></div>
					<div class="inputfield"><input id="conpassword" name="conpassword" type="password" ng-model="userData.conpassword" required /></div>
				</div>
				<div class="formRow">
					<div  class="level"></div>
					<div class="inputfield"></div>
				</div>
				<div class="formRow divSpacer">
					<button class="submitbtn" name="submit" type="submit" ng-disabled="registerForm.$invalid">Submit</button>
				</div>

			</div>
		</form>

	</div>