<div class="form-wrapper">
	<div id="login-template" ng-class="[loginState.state, loginState.preload]">
		<header class="content-header">
			<i class="back-button ion-android-arrow-back pull-left" ui-sref="default"></i>
			<span>Sign In</span>
		</header>
		<section>
			<div class="social-login">
				<div class="fb-login"><i class="ion-social-facebook"></i> Sign in with Facebook</div>
				<img src="../images/btn_google+_signin_dark_normal_web.png" title="Sign In with Google" />
			</div>
			<form class="login-form" name="loginForm" ng-submit="loginCntrl.submitLoginForm(loginForm.$valid, loginCntrl.credentails)" novalidate >
				<div class="input-container" ng-class="{'error' : emailError = loginForm.email.$invalid && (loginForm.email.$touched || loginCntrl.notifyErrors), 'correct' : loginForm.email.$valid }">
					<input id="email" name="email" type="email" placeholder="Email" ng-model="loginCntrl.credentails.email" required />
					<div class="message-default" ng-cloak ng-cloack ng-show="emailError"> Invalid email id</div>
				</div>
				<div class="input-container" ng-class="{'error' : passwordError = loginForm.password.$invalid && (loginForm.password.$touched|| loginCntrl.notifyErrors) , 'correct' : loginForm.password.$valid }">
					<input id="password" name="password" type="password" placeholder="Password" ng-model="loginCntrl.credentails.password" required />
					<div class="message-default" ng-cloak ng-cloack ng-show="passwordError"> Please enter your Password</div>
				</div>
				<div class="center-text">
					<button class="submit-btn" name="submit" type="submit">Sign In</button>
				</div>
			</form>
		</section>
		<footer class="login-footer">
			<div> Not yet started? </div>
			<button ui-sref="register"> Sign Up </button>
		</footer>
	</div>
</div>