<div id="my_portfolio" ng-class="meCntrl.visibility">
	<div class="background">
	</div>
	<section>
		<header>
			<h1> Jayabratha Saha </h1>
			<div class="me_title">developer & designer</div>
		</header>
		<div class="profile-pic-container">
			<img class="dp" src="../images/userimages/Jay/10858581_744560512294311_7529538302938517088_n.jpg" />
		</div>
		<div class="main_content">
			<div class="about_me">
				<p> Hi there, I am Jay. I am a frontend developer and take interest in designing stuff including apps. </p>
			</div>
			<div class="my_skills_projects title">
				<div class="me_title">my skills & projects</div>
			</div>
			<div class="my_artworks title">
			</div>
			<div class="more_about_me title">
			</div>
		</div>
	</section>
	<footer></footer>
</div>