header.content-header {
	position:relative;
	width: 100%;
	height: 3em;
	line-height: 3em;
	text-align: center;
	font-size: 1.5em;
	background-color: #0A4E9B;
	color: #FEFDFD;
	padding: 0 2em;
	box-sizing: border-box;
}

.content-header .back-button {
	float: left;
}

/* Label Styles - start */
.label-container {
	position: relative;
	display: inline-block;
	width: 49%;
	min-height: 45px;
	height: auto;
	text-align: right;
	padding: 0.5em 3% 0.5em 0;
	vertical-align: top;
	box-sizing: border-box;
}
.label-container label {
	float: right;
    margin-top: 0.5em;
    font-weight: normal;
    color: #696868;
    font-size: 1.1em;
}
::-ms-clear {
display: none;
}

/* Label Styles - end */

/* Input container Styles - start */
.input-container {
	display: inline-block;
	width: 50%;
	min-height: 45px;
	text-align: left;
	vertical-align: top;
	padding: 0.5em;
	box-sizing: border-box;
}
.input-container input:not([type="radio"]):not([type="checkbox"]):not([type='range']), select {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
    border: none;
    border-bottom: thin solid #ccc;
    box-sizing: border-box;
    height: 3em;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.input-container input:not([type="radio"]):not([type="checkbox"]):not([type='range']):focus {
	border-bottom-color: #0ab2f8;
	outline: none;
}
.input-container input[type='range'] {
	width: 60%;
}
.input-container textarea {
	height: 50px;
	width: 80%;
	border: thin solid #ccc;
}
.input-container textarea:focus {
	border-color: #0ab2f8;
	outline: none;
}

#register-form .input-container {
	border-left: 2px solid #4162DE;
}
#register-form .input-container.error {
	border-left: 2px solid #E83535;
}
#register-form .input-container.correct {
	border-left: 2px solid #29C20B;
}
#register-form .input-container input:not([type="radio"]):not([type="checkbox"]):not([type='range']) {
	width: 80%;
}
.error input:not([type="radio"]):not([type="checkbox"]):not([type='range']), .error select {
	border-bottom: thin solid #E83535;
}
/* Input container Styles - end */

#salary+span {
	position: relative;
	top: -8px;
}

.div-spacer {
	margin-top: 1em;
}

.submit-btn {
	font-size: 1.1em;
    color: #FFFFFF;
    background-color: #0AB2F8;
}

.message-default {
	display:inline-block;
	padding: 0.2em 0.5em;
	margin-right: 3%;
	font-size: 1em;
	text-align: left;
	color: #E83535;
	vertical-align: middle;
}

.side-options {
	padding: 0.3em;
}

#login-template, #register-form {
	position:relative;
	min-width: 500px;
	width: 40%;
	top: 5em;
	min-height: 400px;
	background-color: #FFFFFF;
	box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.3);
	margin: auto;
	margin-bottom: 2em;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#login-template section {
	margin: 1em 0;
}

#register-form {
	width: 55%;
	padding-bottom: 2em;
	margin-bottom: 3em;
}

#login-template.fliphide {
	-webkit-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}

#register-form.fliphide {
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.login-form {
	padding: 1.5em 0 0.5em;
	text-align: center;
	text-align: center;
    border-top: thin dashed #ccc;
    border-bottom: thin dashed #ccc;
}

.social-login {
	text-align: center;
	margin: 1em;
}

.fb-login {
	background-color: #0a4e9b;
    color: #FFF;
    height: 38px;
    line-height: 38px;
    font-weight: normal;
    border: thin solid #094284;
    border-radius: 2px;
    width: 183px;
    display: inline-block;
    vertical-align: top;
    margin: 4.5px;
    box-shadow: 
}

.fb-login i {
	font-size: 1.3em;
    vertical-align: middle;
    padding-right: 13px;
}

.login-footer {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0.5em 0 1em;
}

#main_modal {
	position:absolute;
	width: 100%;
	height: 100%;
	background-color: #EAE9E9;
	opacity: 0.8;
	z-index:6;
	display: none;
}

#main_modal.show {
	display:block;
}

#main_message {
	position:fixed;
	width: 30%;
	height: 200px;
	top: -210px;
	left: 50%;
	margin-left: -15%;
	background-color: #FFFFFF;
	border: solid thin #C6C6C7;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	z-index:10;
	opacity: 1;
	-webkit-transition: top 0.5s;
	transition: top 0.5s;
}

#main_message.show {
	top:30%;
	opacity: 1;
}

#main_message .message {
	position: relative;
	width: 100%;
	height: 40%;
	text-align: center;
	padding-top: 40px;
}

#main_message .action {
	position: relative;
	width: 100%;
	height: 40%;
	text-align: center;
}

#progressbar {
	position: relative;
	background-color: #0AB2F8;
	width: 100%;
	height: 5px;
}

#closemodal {
	position: absolute;
	right: 0;
	padding: 5px 5px 5px 5px;
	opacity: 0.5;
	z-index: 1;
}

#closemodal:hover {
	opacity: 1;
}

/* Add Expense Form Styles - start */
section.add-expense form {
	padding: 2em 3.5em;
	box-sizing: border-box;
}
section.add-expense form .input-container {
	width: 100%;
}
#exp-amount {
	font-size: 2em;
	height: 1.5em;
	padding-left: 1em;
}

.sub-container {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

.exp-type-wrapper {
	margin-right: 3%;
}

.add-exp {
	display: block;
	margin-top: 3em;
}
.expense-inr {
	font-size: 2em;
    position: absolute;
    margin-top: 10px;
}
/* Add Expense Form Styles - end */

@media only screen and (max-width:1000px) {
	section.add-expense form {
		padding: 2em 2.5em;
	}
}

@media only screen and (max-width:425px) {
	section.add-expense form {
		padding: 2em 1.5em;
	}
}