#profile {
	position: relative;
	min-height: 700px;
}

header.profile-header {
	position: fixed;
    width: 100%;
    height: 250px;
    background-color: #7448AD;
}

.profile-menu {
	position: fixed;
	top: 0;
    background-color: #FFFFFF;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-bottom: thin solid #ccc;
    z-index: 5;
    padding: 50px 5px 10px;
	text-align: center;
	box-sizing: border-box;
	display: none;
}

.profile-menu .logout {
	position: absolute;
	bottom: 2em;
}

.profile-menu.show {
	display: block;
	opacity: 0.85;
	-webkit-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}

.menu-icon-container {
	position: fixed;
	display: none;
	width: 25px;
    height: 25px;
    margin: 25px 10px;
    z-index: 6;
    -webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.menu-icon, .menu-icon:before, .menu-icon:after {
	position: absolute;
	background-color: #FFFFFF;
	width: 25px;
	height: 2px;
	content: '';
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.menu-icon:before {
	top: -7px;
}
.menu-icon:after {
	bottom: -7px;
}

.menu-icon.close:after {
	top: 0;
	background-color: #0AB2F8;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.menu-icon.close {
	background-color: transparent;
}

.menu-icon.close:before {
	top: 0;
	background-color: #0AB2F8;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.profile-pic-container {
	position: relative;
	height: 10em;
	width: 10em;
	left: 50%;
	margin-top: 4em;
    margin-left: -5em;
	border: 3px solid #FFFFFF;
	border-radius: 50%;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
	z-index: 2;
}

aside.profile-options {
	position: absolute;
	top: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.profile-main-content {
	position: relative;
	min-height: 1000px;
	border-left: thin solid #ccc;
	box-sizing: border-box;
}

.profile-body {
	position: relative;
	min-height: 1000px;
	top: 250px;
	color: #565555;
	background-color: #FFFFFF;
	border-left: thin solid #ccc;
}

.base-info {
	position: relative;
	margin: 0;
    text-align: center;
    color: #565555;
    z-index: 4;
    background-color: #FFFFFF;
}

.logout-btn {
	top: 5em;
}

.user-name {
	font-size: 2.2em;
	padding: 0.25em 0;
    margin: 0;
    border-bottom: thin solid #ccc;
}

.info-card {
	position: relative;
    width: 20em;
    min-height: 15em;
    background-color: #FFFFFF;
    border: thin solid #E7E6E6;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.profile-content {
	position: relative;
}

nav.profile-nav ul {
	margin: 0;
	padding: 0;
	clear: both;
	background-color: #FFFFFF;
}

nav.profile-nav li {
	position: relative;
	float: left;
	list-style: none;
	padding: 1.25em 0 0.5em;
	width: 33%;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
}

.underline {
	position: relative;
    height: 2px;
    width: 25%;
    margin: 10px auto 0;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

li:hover .underline, li.active .underline {
	background-color: #0ab2f8;
	width: 60%;
} 

nav.profile-nav i {
	font-size: 1.5em;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

nav.profile-nav span {
	font-weight: normal;
}


ul.profile-options {
	margin: 0;
	padding: 0;
}

ul.profile-options li {
	list-style: none;
	padding: 15px;
	font-weight: normal;
	border-bottom: thin solid #fff;
	cursor: pointer;
}

ul.profile-options li:hover, ul.profile-options li.active {
	background-color: #E7E7E7;
}

/* Fixed Header Styles - Starts */
.fixed .profile-body{
	top: 0;
}

.fixed .base-info {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.fixed .profile-main-content {
	left: 16.66666667%;
}

.fixed nav.profile-nav {
	position: fixed;
	top: 0;
	width: 75%;
	z-index: 4;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.fixed .profile-content {
	top: 320px;
}

.fixed .profile-pic-container {
	display: none;
}

.fixed .github-icon {
	color: #696868;
}

.fixed .menu-icon, .fixed .menu-icon:before, .fixed .menu-icon:after {
	background-color: #696868;
}
.fixed .menu-icon.close {
	background-color: transparent;
}
/* Fixed Header Styles - end */

@media only screen and (max-width:1000px) {
	header.profile-header {
		position: absolute;
	}
	.menu-icon-container {
		display: block;
	}
	aside.profile-options {
		position: relative;
		display: inline-block;
	    background-color: transparent;
	    width: 100%;
	    margin-top: 3.5em;
	    padding-bottom: 0.5em;
	}
	.profile-pic-container {
		margin-top: 1em;
	}
	.profile-main-content {
		border-left: none;
	}
	.profile-body {
		top: 0;
		left: 0;
		width: 100%;
		border-left: none;
	}
	.logout-btn {
		display: none;
	}
	.base-info {
		margin-top: 0;
	}
	nav.profile-nav li {
		padding: 2em 0 1em;
	}

	.profile-options {
		display: none;
	}

	/* Fixed Header Styles - Starts */
	.fixed .profile-body{
		top: 0;
	}

	.fixed .base-info {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.fixed .profile-main-content {
		left: 0;
	}

	.fixed nav.profile-nav {
		top: 4em;
		left: 0;
		width: 100%;
		z-index: 5;
	}

	.fixed .profile-content {
		top: 340px;
	}
	/* Fixed Header Styles - end */
}

@media only screen and (max-width:425px) {
	.profile-pic-container {
		margin-top: 3.5em;
	}
}