.stats-container .members-container {
	width: 95%;
}

.stats-container .expense {
	font-size: 2.5em;
    color: #b1b0b0;
    font-weight: normal;
}

.stats-container .expense .icon-inr {
	position: relative;
	top: 8px;
}

.stats-container .member-details {
	width: 70%;
}

.expense-bar {
	width: 100%;
    height: 2px;
    background-color: green;
}