@media only screen and (max-width:1000px) {
	#form-content {
		width: 100%;
	}
}

@media only screen and (min-width:701px) and (max-width:900px) {
	#dptile {
		width: 70%;
	}

	.timelinecontainer, .timelineHeaderContainer {
		width: 70%;
	}

	#for-big-screen ul {
		display: none;
	}

	.menu_icon {
		display: block;
	}

}


@media only screen and (min-width:601px) and (max-width:700px) {
	body {
		font-size: 15px;
	}

	#dptile {
		width: 90%;
	}

	.timelinecontainer, .timelineHeaderContainer {
		width: 90%;
	}

	#suggestions {
		display: none;
	}

	#for-big-screen ul {
		display: none;
	}

	nav.profilecontrols ul {
		width: 55%;
	}

	nav.profilecontrols ul li {
		min-width: 33%;
		padding: 0.5em 0 0 0;
	}

	.menu_icon {
		display: block;
	}

}

@media only screen and (max-width:600px) {

	body {
		font-size: 14px;
	}

	#main_message {
		width: 100%;
		margin-left: -50%;
	}

	#login-form, #registerform {
		min-width: inherit;
		width: 100%;
	}

	#profile_cover {
		height: 8em;
	}

	#profile_pic {
		width: 8em;
		height: 8em;
	}

	#dptile {
		width: 85%;
		margin-top: -7.5em;
		font-size: 0.9em;
	}

	#dptile .level {
		width: 56%;
	}

	#profile_title {
		font-size: 1.1em;
		padding: 0;
		margin-left: 0.5em;
		width: 35%;
	}

	#profile_title h1 {
		bottom: 1em;
	}

	.user_title {
		height: 3em;
		bottom: 0.3em;
	}

	.timlinespacer {
		height: 1em;
	}

	.timelinecontainer, .timelineHeaderContainer {
		width: 100%;
	}

	#suggestions {
		display: none;
	}

	#for-big-screen {
		border-bottom: 2px solid #D2D1D1;
	}

	#for-big-screen ul {
		display: none;
	}

	#for-phone-tab {
		display: block;
	}

	nav.profilecontrols ul {
		width: 100%;
	}

	nav.profilecontrols ul li {
		min-width: 33%;
		padding: 0.5em 0 0 0;
	}

	.menu_icon {
		display: block;
	}

	#login-form {
		height: 400px;
	}

}

@media only screen and (max-width:400px) {
	.user_title {
	    height: 2.5em;
	}
	#profile_title {
		top: -0.3em;
	}
}

