.timelinepage {
	/*background: -webkit-linear-gradient(#FFFFFF , #CCCCCC);*/
}

.timlineheader {
	width: 100%;
	text-align: center;
	color: grey;
}

.timelineHeaderContainer {
	width: 60%;
}

.timelinepage header.tabHeader {
	padding: 0;
	height: 4em;
}

.timlinespacer {
	position: relative;
	width: 50%;
	height: 1.5em;
	border-right: medium solid #4162DE;
}
.timlinespacer.top {
	margin-top: -2px;
}
.timlinespacer.down {
	margin-top: 2px;
}
.timlinespacer.green {
	height: 2em;
	border-color: #29C20B;
}

.timelinecontainer {
	position: relative;
	width: 60%;
	z-index: 3;
}

#timelinetemplates {
	position: relative;
}

.timelineelemcontainer {
	position: relative;
	width: 100%;
	height: auto;
}

.metainfo {
	position: relative;
	display: inline-block;
	background-color: #FFFFFF;
	width: 40% !important;
	height: 3em;
	margin: 10px 0px;
	border: thin solid #CCCCCC;
	border-radius: 2px;
	opacity: 0;
	vertical-align: middle;
	-webkit-transition: opacity 1s;
	 -moz-transition: opacity 1s;
	 -ms-transition: opacity 1s;
	 -o-transition: opacity 1s;
	 transition: opacity 1s;
}

.timelineelemcontainer.left .metainfo {
	left: -5px;
	box-shadow: -3px 0px 0.5em rgba(0,0,0,0.1);
}

.timelineelemcontainer.right .metainfo {
	right: 45%;
	box-shadow: 3px 0px 0.5em rgba(0,0,0,0.1);
}

.timeline_template {
	position: relative;
	display: inline-block;
	width: 49%;
	min-height: 5em;
	height: auto;
	vertical-align: middle;
	-webkit-perspective: 4000px;
	perspective: 4000px;
}

.timelineelemcontainer.left .timeline_template{
	margin-left: 1%;
	/*border-right: medium solid #29C20B;*/
}

.timelineelemcontainer.right .timeline_template{
	left: 50%;
	/*border-left: medium solid #29C20B;
*/}

.bullet_container {
	position: absolute;
	width: 3px;
	height: 100%;
	background-color: #29C20B; 
	top: 0;
	left: 50%;
}

.timelinebullet {
	position: relative;
	display: inline-block;
	background-color: #4C4C4C;
	border: medium solid #29C20B;
	height: 0.5em;
	width: 0.5em;
	border-radius: 50%;
	vertical-align: middle;
}

.timelinebullet:hover {
	background-color: #29C20B;
}

.timelineelemcontainer.left .timelinebullet {
	left: -9.5px;
}

.timelineelemcontainer.right .timelinebullet {
	left: -3.5px;
}

.infocontainer {
	position: relative;
	opacity: 0;
	width: 85%;
	min-height: 5em;
	max-height: 20em;
	background-color: #FFFFFF;
	padding: 1em 5% 1em;
	border: thin solid #CCCCCC;
	border-radius: 2px;
}

.timelineelemcontainer.left .infocontainer {
	margin-right: 5%;
	box-shadow: 3px 0px 0.5em rgba(0,0,0,0.1);
	-webkit-transform: rotateY(-92deg);
	transform: rotateY(-92deg);
	-webkit-transform-origin: right;
	transform-origin: right;
}

.timelineelemcontainer.right .infocontainer {
	margin-left: 6%;
	box-shadow: -3px 0px 0.5em rgba(0,0,0,0.1);
	-webkit-transform: rotateY(92deg);
	transform: rotateY(92deg);
	-webkit-transform-origin: left;
	transform-origin: left;
}

.infocontainer.show {
	opacity: 1;
	-webkit-transform: rotateY(0deg) !important;
	transform: rotateY(0deg) !important;
}

.metainfo.show {
	opacity: 1;
}

.infocontainer.active {
	 -webkit-transition: all 0.5s;
	 -moz-transition: all 0.5s;
	 -ms-transition: all 0.5s;
	 -o-transition: all 0.5s;
	 transition: all 0.5s;
}

#suggestions {
	position: absolute;
	width: 32%;
	height: 30em;
	top: 1em;
	right: 1em;
	background-color: #FFFFFF;
	border: thin solid #CCCCCC;
	border-radius: 2px;
	box-shadow: 0 0 0.5em rgba(0,0,0,0.1);
	padding: 20px 1.5%;
}

#suggestions header {
	border-bottom: thin solid #CCCCCC;
	padding: 0px 5px 10px;
}