<div id="my_portfolio" ng-class="meCntrl.visibility">
	<div class="background">
	</div>
	<section>
		<header>
			<h1> Jayabratha Saha </h1>
			<div class="me_title">developer & designer</div>
		</header>
		<div class="profile-pic-container">
			<img class="dp" src="../images/userimages/Jay/10858581_744560512294311_7529538302938517088_n.jpg" />
		</div>
		<div class="main_content">
			<div class="about_me">
				<p> Hi there! I am Jay. I am a frontend developer and take interest in designing stuffs including apps. </p>
			</div>
			<div class="my_skills_projects title">
				<div class="me_title">my skills & projects</div>
				<div class="skills_badges">
					<ul class="skill_list">
						<li class="html col-md-3 col-xs-4">
							<div class="skill_detail"></div>
							<img src="../images/html5-logo.png" title="HTML5" alt="HTML5" />
						</li>
						<li class="css col-md-3 col-xs-4">
							<img src="../images/css3-logo.png" title="CSS3" alt="CSS3" />
						</li>
						<li class="javascript col-md-3 col-xs-4">
							<img src="../images/js-logo.png" title="JS" alt="JavaScript" />
						</li>
						<li class="angular col-md-3 col-xs-4">
							<img src="../images/angular-logo.png" title="Angular" alt="Angular" />
						</li>
						<li class="node col-md-3 col-xs-4">
							<img src="../images/nodejs-logo.png" title="NodeJS" alt="NodeJS" />
						</li>
						<li>
							<!-- <img src="../images/" title="HTML5" alt="HTML5" /> -->
						</li>
						<li>
							<!-- <img src="" title="HTML5" alt="HTML5" /> -->
						</li>
					</ul>
				</div>
			</div>
			<div class="my_artworks title">
				test
			</div>
			<div class="more_about_me title">
			</div>
		</div>
	</section>
	<footer></footer>
</div>